h1 {
    font-size: 45px;
    color: whitesmoke;
    line-height: 80px;
    font-family: Monaco;
}

body {
    /*font-family: Monaco*/
  }
nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-bottom: #2B3A67 solid 2px;
    position: fixed;
    z-index: 1;
    background-color: whitesmoke;
    font-family: Monaco;
}

/* header nav{
    text-align: right;
} */

nav a {
    /* float: right; */
    color: #2B3A67;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
}

.contact_button {
    text-decoration: none;
    background-color: #FFC482;
    padding: 20px 25px;
    font-weight: bold;
}

main {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

#about_me {
    background-color: #496A81;
    width: 100%;
}


.about_one{
    float: right;
    padding-top: 20%;
    margin-right: 20%;
}

.about_two {
    margin: 25% 35% 25% 10%;
}

.right_side {
    color: whitesmoke;
    margin-right: 18%;
    margin-left: 15%;
    margin-bottom: 15px;
    text-align: right;
}


img {
    /* margin-right: 18%;
    margin-left: 2%; */
    max-width: 100%;
    height: auto;
}


/* .float-right {
    position: absolute;
    right: 18%;
    top: 30%;
} */

#my_work {
    padding-top: 60px;
    background-color: #619394;
    color: white;
    width: 100%;
}

#my_work h1 {
    padding-left: 5%;
}

.main_work {
    flex: 1;
    /* background-color: #b9c6ae; */
    /* border: black solid 1px; */
    padding: 5%;
    text-align: left;
  }

  /* 
What does the justify-content property do?
It is used to align the flex items; in our case, the product cards 
*/
.works {
    flex: 4;
    /* background-color: #fff; */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* 
  What is the flex property a shorthand property for?
  It is a shorthand property for the flex-grow, flex-shrink, and flex-basis properties 
  What is it doing here?
  We are making the product card not growable, not shrinkable, and with an initial length of 400px 
  */
  .card {
    /* border: solid 3px whitesmoke;
    border-radius: 10px; */
    padding: 10px;
    flex: 0 0 400px;
    background-color: #2B3A67;
    text-align: center;
  }
  
  .card header {
    padding-bottom: 10px;
    font-size: 20px;
    color: whitesmoke;
  }
  
  .card p {
      padding-bottom: 5px;
  }
  
  .card img {
    width: 100%;
  }

#contact_me {
    width: 100%;
    background-color: #B3AF8F;
    color: white;
    text-align: center;
}

.contact_class {
    padding: 2% 3%;
    text-decoration: none;
    color: #2B3A67;
    font-size: 18px;
    display: inline-flex;
}

footer {
    padding-bottom: 30px;
    line-height: 30px;
    background-color: #B3AF8F;
    z-index: 1;
    text-align: center;
    width: 100%;
}

.footer_dark {
    color: #2B3A67;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px slategray;
}

.footer_light {
    color: whitesmoke;
    font-weight: lighter;
    font-size: 14px;
    text-shadow: 1px 1px slategray;
}



@media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
    }
    main {
        margin-top: 65px;
    }
    .about_two {
        margin-right: 10%;
    }
    .float-right {
        margin-left: 10%;
    }